---
---
<div class="my-8 flex justify-center">
  <div class="w-[300px] h-[250px] bg-gray-100 border border-gray-200 flex flex-col items-center justify-center text-gray-400 text-sm">
    <span class="font-bold tracking-widest uppercase">Ad Space</span>
    <span class="text-xs">(300 x 250)</span>
  </div>
</div>